.bt-main {
    -fx-font-family: henderson-slab-basic, sans-serif;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to top, #e09d00, #ffe14d);
    -fx-effect: dropshadow(gaussian, #00000077, 10, 0, 0, 5);
    -fx-text-fill: white;
    -fx-label-padding: 5px;
    -fx-font-size: 15pt;
    -fx-pref-width: 225px;
}

.bt-main:hover {
    -fx-background-color: linear-gradient(to top, #e09d00, #ffeb84);
    -fx-effect: dropshadow(gaussian, #00000077, 15, 0, 0, 5);
}

.bt-main:armed {
    -fx-background-color: linear-gradient(to top, #e09d00, #ffeb84), #EEEEEE77;
}

.bt-small {
    -fx-font-weight: bold;
    -fx-font-size: 10pt;
}

.category-item, .home-item {
    -fx-effect: dropshadow(two-pass-box, #00000044, 8, 0, 5, 5)
}

.order-number Text {
    -fx-font-family: "Henderson Slab", sans-serif;
    -fx-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 17pt;
}

.order-number {
    -fx-background-color: linear-gradient(to top, #800000, #cc1414);
}

.table-view {
   -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to top, #e09d00, #ffe14d);
    -fx-effect: dropshadow(gaussian, #00000077, 10, 0, 0, 5);
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: henderson-slab-basic, sans-serif;
    -fx-font-weight: bold;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view Button {
    -fx-alignment: CENTER;
    -fx-background-color: linear-gradient(to top, #800000, #cc1414);
    -fx-effect: dropshadow(gaussian, #00000077, 5, 0, 0, 2.5);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-min-width: 25;
    -fx-min-height: 25;
}

.table-view Button:hover {
    -fx-effect: dropshadow(gaussian, #00000077, 10, 0, 0, 2.5);
}

.table-view Button:armed {
    -fx-background-color: linear-gradient(to top, #800000, #cc1414), #EEEEEE77;
}

.table-view #price-column, .table-view #quantity-column {
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
}

.table-view .table-cell {
    -fx-font-family: henderson-slab-basic, sans-serif;
    -fx-alignment: CENTER-LEFT;
}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, #fff4c1;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #ffffff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.order-label {
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
}
