#sideBar {
    -fx-background-color: #EEE;
    -fx-start-margin: 12;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-content-display: 15px;
    -fx-effect: dropshadow(gaussian, #00000077, 10, 0, 5, 0);
}

#sideBar VBox {
    -fx-padding: 30px;
}

#preview-image {
    -fx-effect: innershadow(gaussian, #00000077, 15, 0, 0, 0);
}