/* Button for Nav-Menu */
#hamburger {
    -fx-background-image: url('/img/hamburgericon.png');
    -fx-background-size: 40 40;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 56px;
    -fx-pref-height: 56px;
}

#hamburger-close {
    -fx-background-image: url('/img/cross.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20 20;
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-pref-width: 36px;
    -fx-pref-height: 36px;
}

.sideBar {
    -fx-background-color: #EEE;
    -fx-start-margin: 12;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-content-display: 15px;
    -fx-effect: dropshadow(gaussian, #00000077, 10, 0, 5, 0);
}

.sideBar VBox {
    -fx-padding: 30px;
}

#preview-image {
    -fx-effect: innershadow(gaussian, #00000077, 15, 0, 0, 0);
}